    top: 3in
    right: 5%;
  } */
}
@media (max-wi40h: 570px) {
  h1 {
    font-s    max-width: 50%;: 80%;
  }
  .navbar-brand img {
    max-width: 40%;
  }
  .navbar-toggler {
    poight: 2%;
  }
}

