@media (max-width: 550px) {
  h1 {
    font-size: 80%;
  }
  .navbar-brand img {
    max-width: 50%;
  }
  .navbar-toggler-icon {
    max-width: 1rem;
    max-height: 1rem;
  }

}
@media (max-width: 800px) {
  h1 {
    font-size: 130%;
  }
  .navbar-brand img {
    max-width: 80%;
  }
}

.navbar-toggler {
  float: right;
  right: 5%;
}
