@media (max-width: 550px) {
  h1 {
    font-size: 80%;
  }
  .navbar-brand img {
    max-width: 50%;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 130%;
  }
  .navbar-brand img {
    max-width: 80%;
  }
}

.navbar-toggler {
  float: right;
  right: 5%;
}
