/* CSS files add styling rules to your content */

body {
  font-family: Courier New, arial, sans-serif;
  margin: 2em;
}

ul {
  list-style-type: none;
  position: fixed;
}

li {
  font-weight: bold;
  color: #a57fa8;

  margin: 4rem;
  padding: 0.5rem;
  display: inline;
  border-bottom: 3px dotted #c4abc6;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: #c4abc6;
  font-weight: normal;
}

.nav a:hover,
h1 {
  color: #a57fa8;
  font-weight: bold;
}

footer {
  position: fixed;
  left: 85%;
  bottom: 0;
  width: 100%;
  padding: 2rem;
}

footer img:hover {
  box-shadow: 0px 2px 2px 0px #a57fa8;
}

.twoTruths {
  padding: 5rem;
  text-align: center;
}

.statement {
  padding: 1.2rem;
}

.statement:hover {
  color: white;
  text-shadow: 0 0 5px #583d5a, 0 0 7px #6e4c71,0 0 18px #895f8d,0 0 20px #c4abc6;
}

