/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 4rem;
  position: fixed;
}

li {
  display: inline;
}