/* CSS files add styling rules to your content */

body {
  font-family: Courier New, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: bold;
  color: #373fff;
}

ul {
  list-style-type: none;
  position: fixed;
}

li {
  margin: 4rem;
  padding: .5rem;
  display: inline;
  border-bottom: 3px dotted #c4abc6;
}

.nav a:link, .nav a:visited{
  text-decoration: none;
  color: #c4abc6
}

.nav a:hover{
  color: #a57fa8;
}